<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body style="font-family:Arial; font-palette:light; font-size: 20px;">
    <div>
        Estimadx {Name},
        <br />
        Tenemos novedades para comentarte sobre tu pedido número {Id}, el mismo cambio de estado y se encuentra actualmente de la siguiente manera:
        <br />
        <br />
        <div style="font-weight:bold;">
            {Status}.
            <br />
            <br />
        </div>
        Si tenes alguna duda sobre el mismo, no dudes en contactarnos a través de nuestros canales oficiales.
        <br />
        <br />
        Muchas gracias por confiar en nosotros!
        <br />
        <br />

    </div>
    <div style="font-weight:bold;">
        Fabrica y distribuidora Effort.
        <br />
    </div>

</body>
</html>