<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body style="font-family:Arial; font-palette:light; font-size: 20px;">
    <div>
        Estimadx {Name},
        <br />
        Te confirmamos que tu solicitud de generación de usuario fue aprobada, ya podes operar con nosotros! El Id de tu Empresa es {Id}, por favor guarda el dato dado que te será de utilidad en caso de no recordar tus credenciales de acceso.
        <br />
         El correo electronico que tenemos registrado para tu usuario es {UserMail}, utilizá el mismo conjuntamente con la contraseña que elegiste al momento del alta para ingresar.
        <br />
        Muchas gracias por confiar en nosotros!
        <br />


    </div>
    <div style="font-weight:bold;">
        Fabrica y distribuidora Effort.
        <br />
    </div>

</body>
</html>