

.custom-navbar {
    background-color: #A29B9B;
    height: 120px;
}

.custom-navar-txt {
    font-size: 25px;
    color: #FAFAFA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown-custom {

    background-color: #A29B9B;

}
