:root {
    --bg-color-effort-blue: #020F60;
    --bg-color-effort-blue-hover: #0016A2;
    --bg-color-effort-red: #C23337;
    --bg-color-effort-red-hover: #CB5558;
    --font-color-effort: #C2C2C2
}
.oculto {
    display: none;
}
#login-hover{
    cursor: pointer;
}

body {
    font-family: var(--mdb-body-font-family);
    color: var(--mdb-body-font-family);
}

#navbar-effort {
    position: fixed;
    top:0; 
    width:100%;
    height: 8vh;
    background-color: var(--bg-color-effort-blue);
}

#div-container-margin{
    margin-top: 8vh;
}

#navbar-effort div {
    color: var(--font-color-effort);
}
    #navbar-effort ul a {
        color: var(--font-color-effort);
    }
    #navbar-effort ul li {
        padding: 10px;
    }
#navbar-effort li :hover {
    background-color: var(--bg-color-effort-blue-hover);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

    #navbar-effort > div > div > ul .dropdown-menu {
        border-radius: 5px;
        background-color: var(--bg-color-effort-red);
    }
        #navbar-effort > div > div > ul .dropdown-menu > li {
            padding: 5px;
            border-radius: 5px;

        }
        #navbar-effort > div > div > ul .dropdown-menu :hover{
            background-color: var(--bg-color-effort-red);
        }
    #navbar-effort > div > div > ul .dropdown-menu > li :hover{
        background-color: var(--bg-color-effort-red-hover);
    }

/*.login-popup {
    background-color: rgb(29, 5, 110);
    padding: 10px, 10px;
    width: 400px;
    height: 200px;
    color: rgb(255, 255, 255);
    font-family: Arvo;
}

.background.login-popup {
    background-color: black;
    filter: blur(10px);
    opacity: 0.8;
}

.textbox-custom {
    width: 150px;
}

.banner-img {
    height: 100%;
    width: 100%;
    object-fit: inherit;
    opacity: 0.7;
}

.default-banner-left {
    height: 200px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: right;
    background-image: linear-gradient(to left, rgb(202, 202, 202), rgba(255, 255, 255));
}

.default-banner-right {
    height: 200px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: right;
    background-image: linear-gradient(to right, rgb(202, 202, 202),rgba(255, 255, 255));
}

.default-banner-bottom {
    height: 200px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: right;
    background-color: rgb(29, 5, 110);
    font-family: 'Tillium Web Bold';
    font-size: 30px;
    color: white;
}

.custom-font-white {
    font-family: 'Tillium Web Semi Bold';
    font-size: 20px;
    color: white;
}


.custom-font-title {
    font-family: 'Tillium Web Bold';
    font-size: 30px;
    color: darkslategray;
}

.custom-font-text {
    font-family: 'Tillium Web Regular';
    font-size: 20px;
    color: darkslategray;
}

.custom-font-blue {
    font-family: 'Tillium Web Bold';
    font-size: 20px;
    color: rgb(29, 5, 110);
}

.custom-font-red {
    font-family: 'Tillium Web Bold';
    font-size: 20px;
    color: red;
}

.a:link {
    text-decoration: none;
}


.a:visited {
    text-decoration: none;
}


.a:hover {
    text-decoration: none;
}


.a:active {
    text-decoration: none;
}*/
