

@font-face {
    font-family: 'Arvo'; /*a name to be used later*/
    src: url('fonts/Arvo-Regular.ttf'); /*URL to font*/
}

.custom-navbar {
    background-color: rgb(29, 5, 110);
    height: 100px;
}

.custom-navar-txt {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: Jokerman;
    margin: 20px;
    !important
}

.custom-font {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: Wingdings;
    margin-top: 100px;
}

/*.dropdown-custom {
    background-color: rgb(29, 5, 110);
}*/

.custom-dropdown-txt {
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: "Arvo", Titillium Web;
}

.custom-carousel {
    color: white;
    background-color: black;
    text-align: center;
    height: 40px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text
}

.custom-carousel-txt {
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    margin-top:10px;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.37);
    border-radius:4px 4px;
}

.dropdown-item:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 4px 4px;
}

.nav-link:visited {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 4px 4px;
}

.rounding {
    font-size: 15px;
    margin: 10px, 10px, 10px, 10px;
    padding: 3px, 3px;
    border: 10px solid white;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
   

}

.login-popup {
    background-color: rgb(29, 5, 110);
    border: 3px solid white;
    padding: 10px, 10px;
    width: 400px;
    height: 200px;
    color: rgb(255, 255, 255);
}

.background.login-popup{
    background-color:black;
    filter: blur(10px);
    opacity: 0.8;

}

.textbox-custom {

    width: 150px;
}